<html>

<head></head>

<body ng-app="app" ng-controller="TestController">

  <label>config:</label>
  <pre>
{{test | json}}
  </pre>

  <label>language:</label>
  <pre>
{{language | json}}
  </pre>

  <button ng-click="useLang('en')">EN</button>
  <button ng-click="useLang('es')">ES</button>

  <p translate="HELLO"></p>

  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-translate.min.js"></script>
  <script src="scripts/angular-translate-loader-static-files.min.js"></script>
  <script src="scripts/of-config.js"></script>
  <script>
    angular.module("app", ["of.config"]);

    angular.module("app").config(["OfConfigServiceProvider", function($configProvider) {
      $configProvider.configureSettings("/settings.json");
      var lang = new LanguageSettings();
      lang.storage = new OfLocalStorageService();
      $configProvider.configureLanguage(lang);

      var stateSettings = new StateSettings();
      stateSettings.statesEndpoint = "/states.json";
      stateSettings.callback = function(state) { console.debug("estados cargados b", state); };
      $configProvider.configureStates(stateSettings);
    }]);

    angular.module("app").run(["OfConfigService", function($config) {
      // load again
      // $config.load().then(function(res) {
      //   console.debug("config cargada", res);
      // });
    }]);

    angular.module("app").controller("TestController", ["$scope", "OfConfigService", function($scope, $config) {
      $scope.test = $config.settings;
      $scope.language = $config.language;

      $scope.useLang = function(lang) {
        $config.setLanguage(lang);
      }
    }]);
  </script>

</body>

</html>